@import '../../constants/styles/colors';
@import '../../constants/styles/typography';
@import '../../constants/styles/game';

.game-piece {
    background: #fff;
    border: 1px solid $gray-mid;
    border-radius: 50%;
    box-shadow: none;
    height: $stone-size;
    position: relative;
    transition: background 0.2s ease, box-shadow 0.2s ease;
    width: $stone-size;

    &[data-piece-number="0"]:not(.game-piece--occupied)::after,
    &[data-piece-number="10"]:not(.game-piece--occupied)::after,
    &[data-piece-number="20"]:not(.game-piece--occupied)::after,
    &[data-piece-number="30"]:not(.game-piece--occupied)::after {
        content: 'A';
        font-size: 1.75em;
        font-weight: 700;
        pointer-events: none;
        position: absolute;
    }

    &[data-piece-number="0"]:not(.game-piece--occupied)::after {
        color: $yellow;
        transform: rotate(90deg);
        left: 17px;
        top: 9px;
    }
    
    &[data-piece-number="10"]:not(.game-piece--occupied)::after {
        color: $green;
        transform: rotate(180deg);
        left: 14px;
        top: 12px;
    }
    
    &[data-piece-number="20"]:not(.game-piece--occupied)::after {
        color: $red;
        transform: rotate(-90deg);
        left: 11px;
        top: 9px;
    }
    
    &[data-piece-number="30"]:not(.game-piece--occupied)::after {
        left: 14px;
        top: 7px;
    }
} 

.game-piece--hovered {
    background: $gray-mid;
    box-shadow: 0 0 8px $gray;
}

.game-piece--occupied {
    border: none;
}